
/* @import url("https://fonts.googleapis.com/css2?family=Aubrey&family=DM+Sans:opsz,wght@9..40,200&family=Kurale&display=swap"); */
/*   border radius */
.furnitureNavBrand{
    font-family: "Aubrey", cursive;
    margin: 2rem;
    color: #694ce9 !important;

}
.furnitureAbout{
    font-family: "Aubrey", cursive;
    color: #694ce9 !important;



}