/* @tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@layer base { 
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 255, 255, 0.8),
        hsla(158, 74%, 61%, 0.8)   
    )!important;
} */
/* .App {
    background-color: linear-gradient(to right,#FFDDE1, white)!important
  } */

@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Kurale&display=swap');


.m-auto {
    display: flex;
    justify-content: space-between;
    flex: 0.6;
    cursor: pointer;
    /* color: #00CDAC; */
    font-size: medium;
    /* font-family:cursive; */


}

.links {
    text-decoration: none !important;
    color: black !important;

}

.navbarStyle {
    height: 80px;
    background: white !important;
}

.homeContainer{
    min-height: 60vh;
    
}
.subComponentsContainer {
    margin-top: 5% !important;
    /* padding-bottom:150px; */
    /* min-height: 50vh; */
   

}

.progressbarContainer {
    margin-top: 3% !important;
}

.contactDiv {
    margin-right: 300px;
}

/* .carouselClass{
    
   background-color: black!important;
   border: none !important;
   border: none !important;
} */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1) !important;


}

.progressBar {}

.aboutText {
    color: black;
}

/* .carousel-indicators li {
    display:none; } */
/*ngb-carousel:focus {
    outline: none !important;
}
.carousel .slide{
    background: #ff442e!important;
    
} */

.homediv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   

    /* height: 100vh; */
    /* background-color: linear-gradient(to right,#FFDDE1, white)!important */
}

.homeCard {
display: flex;
/* margin-left: 10px; */

    color: black;
    align-items: center;
    border: none !important;
    font-size: medium;
    /* font-family:cursive; */
    /* background: #FFDDE1!important */
    
}
.flex-column{
    margin-right: 50px;
}

.ContactCard {
    border: none !important;


}

.form-control:focus {
    border-color: black !important;
    box-shadow: none !important;
}

.smallCards {
    color: white;
    font-size: large;
    font-family: 'Kurale', serif;
    /* text-align: center!important;
    align-items: center!important;  */

}

.homeSmallCards {
    color: grey !important;
    font-size: large;
    font-family: 'Kurale', serif;
    /* text-align: center!important;
    align-items: center!important; */
    /* width: 600px !important; */


}

.specialCards {
    border-radius: 15px 50px !important;
    background: #c0c0c0 !important;
    padding: 5px !important;
    width: 100px !important;
    margin: 10px !important;
    height: 150px !important;
    color: black !important;
}

.homeSpecialCards {
    /* border: none !important; */
    display: flex;
    justify-content: space-between;
    flex: 50 !important;
    border-radius: 15px 15px !important;
    /* background: hwb(0 75% 25%) !important; */
    box-shadow: black;
    padding: 15px !important;
    width: 100px !important;
    height:200px !important;
    /* margin-right: 20px; */
    margin-bottom: 10px;
    


}
.about{
    display: flex;
      flex:auto;
      /* border-radius: 15px!important; */
      /* align-items: center; */
      /* width: 100px !important; */
      /* border: none !important; */
      align-content: center!important;
      text-align: center!important;
      
}
      
 

.card1{
    box-shadow: 20px 20px 10px grey!important;
    width :200px;
    height:150px !important;
    align-items: center !important;
    border-radius: 15px!important;
    /* background-color: -webkit-linear-gradient(#939191, #120f0f)!important; */
    /* box-shadow: black!important; */
   /* justify-content: center; */

   /* background: -webkit-linear-gradient(#eee, #120f0f);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
  
   
}
/* .cardText{
    text-align: center!important;
    align-items: center !important;
    align-content: center!important;

} */


.titleCard {

    text-align: center !important;


}

.contactIcons {
    margin-top: 100px;
    display: flex;

    justify-content: space-between;
}

.profilePhoto {
    border-radius: 20%!important;
    box-shadow:  20px 20px 50px grey!important;
    width: 300px !important;

    height: 300px !important;




    /* border-radius: 104px;
background: #e0e0e0; */
    /* box-shadow: inset 5px 5px 10px #656565,
            inset -5px -5px 10px #ffffff; */

}

.navbrand {
    font-size: medium !important;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; */
    color: black !important;
    text-decoration: none !important;

}

.cardTitle {
    font-size: large !important;


}

.flex-column {
    margin-top: 2%;
    box-shadow: 20px 20px 10px rgb(250, 244, 244)!important;
    border: none!important;;
}


.homeDiv {
    /* background-color:linear-gradient(red, yellow, green)!important; */
    /* background: linear-gradient(to right,#FFDDE1, white)!important */
}

/* .worksCards{

    align-items: center!important;
    border: none!important;

} */
.homeTitle{
    font-size: 72px !important;
    background: -webkit-linear-gradient(#eee, #120f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.worksCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 120px 130px;


}

.WorksCarousal {

    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.formCheck {
    color: black;
}

input[type=checkbox] {
    accent-color: black;
}

.footer {
    color: grey !important;
    text-decoration: none !important;
}

.footerClass {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    padding: 1rem;
}

/* footer {
    background-color: white;
    position:fixed;
    height:auto;
    bottom:0;
    left:0;
    border: 1px solid;
    padding: 1rem;
    color: white;
  }
 */
/* footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }  */