/* @tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@layer base { 
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 255, 255, 0.8),
        hsla(158, 74%, 61%, 0.8)   
    )!important;
} */
/* .App {
    background-color: linear-gradient(to right,#FFDDE1, white)!important
  } */
.m-auto{
    display: flex;
    justify-content: space-between;
    flex: 0.5;
    cursor: pointer;
    /* color: #00CDAC; */
    font-size: medium;
    /* font-family:cursive; */
   

}
.links{
    text-decoration: none!important;
    color: black!important;

}
.navbarStyle{
    height: 80px;
    background:white!important;
}
.worksContainer{
   margin-top: 5%!important; 
    
}
/* .carouselClass{
    
   background-color: black!important;
   border: none !important;
   border: none !important;
} */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1) !important;
  
  
}
/*ngb-carousel:focus {
    outline: none !important;
}
.carousel .slide{
    background: #ff442e!important;
    
} */

.homediv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    /* height: 100vh; */
    /* background-color: linear-gradient(to right,#FFDDE1, white)!important */
}
.homeCard{
    
    color: black;
    align-items: center;
    border: none!important;
    font-size: medium;
    /* font-family:cursive; */
    /* background: #FFDDE1!important */
}
.smallCards{
    color: white;
}
.specialCards{
    border-radius: 15px 50px !important;
    background: rgb(189, 186, 186)!important;
    padding: 5px !important;
    width: 100px !important;
    margin: 10px !important;
    height: 150px !important;
    color:black!important;
}
.titleCard{
    
   text-align: center !important;


}
.profilePhoto{
    border-radius: 15px 50px !important;
   
    /* padding: 5px !important; */
    width: 300px !important;
    /* margin: 10px !important; */
    height: 300px !important;
    
}
.navbrand{
    font-size: medium!important;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; */
    color: black!important;
     text-decoration: none!important;
    
}
.cardTitle{
    font-size: large!important;
  

}
.flex-column{
margin-top: 2%;
}
/* .homeBadge{
    color:white!important;
    background-color:black !important;
    height: 25px;
}
.homeBadge:hover{
    background-color: white!important;
    color:black!important
}
.homeBadge:active{
    background-color: black!important;
  box-shadow: 0 10px grey;
  transform: translateY(4px);
} */
.homeDiv{
    /* background-color:linear-gradient(red, yellow, green)!important; */
    /* background: linear-gradient(to right,#FFDDE1, white)!important */
}
/* .worksCards{

    align-items: center!important;
    border: none!important;

} */
.worksCard{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding: 120px 130px;
   
    
}
.WorksCarousal{

    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

